# Logs
logs
*.log
npm-debug.log*

# Directory for production builds
dist
dist-ssr

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node modules
node_modules/

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
